*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

body {
  width: 100vw;
}

@media only screen and (max-width: 90vw) {
  body {
    width: 90vw;
  }
}

.line__bottom--destinations {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 15rem;
}

body {
  font-family: "Open Sans";
  font-size: 1rem;
}

.heading-1 {
  font-family: "WindSong", cursive;
  color: #ffffff;
  font-weight: 300;
  font-size: 7rem;
}

.heading-2 {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 3rem;
}

.heading-3 {
  font-size: 3rem;
  font-weight: 200;
}

.handicrafts__para--span-1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-size: 2.5rem;
  display: block;
  letter-spacing: .3rem;
  padding-bottom: 3rem;
  font-weight: lighter;
}

.handicrafts__para--span-2 {
  display: block;
  padding-top: 2.6rem;
}

.btn {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 2.5rem;
  font-weight: 100;
  background-color: transparent;
  color: #252525;
  border: 2px solid #2b2a2a;
  -webkit-transition: all .3s  ease-in;
  transition: all .3s  ease-in;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destinations {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.destinations__heading {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-weight: 100;
  font-size: 3.5rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #292929;
}

.destinations__heading:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  display: inline-block;
  text-decoration: underline;
}

.destinations__details {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 40rem;
  width: 40rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[4];
      grid-template-columns: repeat(4, 10rem);
  -ms-grid-rows: (10rem)[5];
      grid-template-rows: repeat(5, 10rem);
  background-color: rgba(92, 92, 92, 0.596);
  color: white;
  text-align: center;
  outline: 2px solid white;
  padding-right: 6rem;
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.destinations__pahalgam {
  height: 47rem;
  margin-top: -2rem;
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5))), url(../img/mountain-1.jpeg);
  background-image: linear-gradient(to right bottom rgba(65, 65, 65, 0.5), rgba(255, 255, 255, 0.5)), url(../img/mountain-1.jpeg);
}

.destinations__pahalgam--heading-primary {
  color: #fffefe;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-left: 2rem;
}

.destinations__pahalgam--h4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
  padding: 0rem 3rem;
}

.destinations__pahalgam--h6-2 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -1rem;
}

.destinations__pahalgam--h6-3 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -.5rem;
}

.destinations__Sinthantop {
  height: 47rem;
  margin-top: -2rem;
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ 3;
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(9, 73, 0, 0.5))), url(../img/mountain-2.jpeg);
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(9, 73, 0, 0.5)), url(../img/mountain-2.jpeg);
}

.destinations__Sinthantop--heading-primary {
  color: #fffefe;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-left: 2rem;
}

.destinations__Sinthantop--h4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
  padding: 0rem 3rem;
}

.destinations__Sinthantop--h6-2 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -1rem;
}

.destinations__Sinthantop--h6-3 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -.5rem;
}

.destinations__Dal-Lake {
  height: 47rem;
  margin-top: -2rem;
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ 4;
  display: -ms-grid;
  display: grid;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 75, 40, 0.9))), url(../img/header.jpeg);
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(0, 75, 40, 0.9)), url(../img/header.jpeg);
}

.destinations__Dal-Lake--heading-primary {
  color: #fffefe;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-size: 7rem;
  padding-left: 2rem;
  width: 38rem;
}

.destinations__Dal-Lake--h4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
}

.destinations__Dal-Lake--h6-2 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -1rem;
}

.destinations__Dal-Lake--h6-3 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: -.5rem;
}

.destinations__btn {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-top: 3rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 3rem 10rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.destinations__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.line__bottom {
  background-color: rgba(59, 59, 59, 0.466);
  height: 2px;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.footer__about {
  font-size: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 /span 3;
  padding-top: 3rem;
  padding-left: 3rem;
}

.footer__about-1 {
  padding-bottom: 3rem;
}

.footer__info {
  font-size: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 /span 3;
  padding-top: 3rem;
  padding-left: 3rem;
}

.footer__info-1 {
  padding-bottom: 3rem;
}

.footer__resource {
  font-size: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 /span 3;
  padding-top: 3rem;
  padding-left: 3rem;
}

.footer__resource-1 {
  padding-bottom: 3rem;
}

.footer__links {
  font-size: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 /span 3;
  padding-top: 3rem;
  padding-left: 3rem;
}

.footer__links-1 {
  padding-bottom: 3rem;
}

.footer__logos {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.footer__logos-twitter {
  width: 7rem;
  height: 7rem;
  margin-left: 6rem;
  fill: #929292;
}

.footer__logos-facebook {
  margin-left: 6rem;
  width: 7rem;
  height: 7rem;
  fill: #929292;
}

.footer__logos-youtube {
  margin-left: 6rem;
  width: 7rem;
  height: 7rem;
  fill: #929292;
}

.footer__logos-instagram {
  margin-left: 6rem;
  width: 7rem;
  height: 7rem;
  fill: #929292;
}

.footer__copy-right {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  font-size: 2.5rem;
  letter-spacing: .2rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh (max-content)[6] 50vh;
      grid-template-rows: 100vh repeat(6, -webkit-max-content) 50vh;
      grid-template-rows: 100vh repeat(6, max-content) 50vh;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
}

.destinations {
  height: 100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 1rem;
}

.destinations__pahalgam {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem (1fr)[2] 3rem;
      grid-template-rows: 3rem repeat(2, 1fr) 3rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.destinations__Sinthantop {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem (1fr)[2] 3rem;
      grid-template-rows: 3rem repeat(2, 1fr) 3rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.destinations__Dal-Lake {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem (1fr)[2] 3rem;
      grid-template-rows: 3rem repeat(2, 1fr) 3rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.Explore {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30rem)[3];
      grid-template-rows: repeat(3, 30rem);
  -ms-grid-columns: (38rem)[3];
      grid-template-columns: repeat(3, 38rem);
  grid-gap: 5rem;
}

.handicrafts {
  height: 105vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[11];
      grid-template-columns: repeat(11, 10rem);
  -ms-grid-rows: (10rem)[8];
      grid-template-rows: repeat(8, 10rem);
  grid-gap: 3rem;
}

.assistance {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10rem)[5];
      grid-template-rows: repeat(5, 10rem);
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media only screen and (width: 64em) {
  .footer {
    grid-gap: 3rem;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/header.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpeg);
  background-size: cover;
}

.header__search {
  position: relative;
}

.header__search--icon {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 20%;
  top: 47%;
  fill: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 37.5em) {
  .header__search--icon {
    top: 45%;
  }
}

.header__search--input {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.3rem 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-top: 3rem;
  color: #000;
  border-radius: 10000rem;
  font-size: 2rem;
  margin-left: 6rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__search--input:focus-visible {
  outline: none;
  background-color: transparent;
}

.header__search--input::-webkit-input-placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.header__search--input:-ms-input-placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.header__search--input::-ms-input-placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.header__search--input::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.header__nav--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-top: 3.3rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav--1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  margin-top: 3.3rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav--2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  margin-top: 3.3rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav--3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  margin-top: 3.3rem;
  padding-right: 3rem;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav--4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__heading-1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  padding-left: 15rem;
}

.header__heading-2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  padding-left: 15rem;
}

.header__btn {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2rem 8rem;
  margin-left: 15rem;
  color: white;
  border-color: white;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 /7;
}

@media only screen and (max-width: 64em) {
  .header__logo {
    margin-bottom: 4rem;
  }
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

.assistance {
  background-image: url(../img/hiking.jpeg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 70rem;
  color: white;
  -webkit-filter: blur(0rem);
          filter: blur(0rem);
}

.assistance__info {
  margin-top: 15rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 0%;
  margin-left: 5rem;
  font-size: 4rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.assistance__number {
  font-weight: lighter;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 1rem;
}

.assistance__heading {
  width: 65rem;
  z-index: 10;
  font-size: 6rem;
  margin-top: 10rem;
  margin-left: 5rem;
  padding: 0  3rem;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 1rem;
}

.assistance__heading-2 {
  font-size: 4rem;
  display: inline-block;
  padding-left: 2rem;
}

.assistance__heading-3 {
  display: inline-block;
  padding-left: 2rem;
}

.assistance__heading-icon {
  width: 4rem;
  height: 4rem;
  fill: white;
}

.Explore {
  margin-left: 10rem;
  margin-top: -20rem;
}

.Explore__heading {
  color: #535353;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  margin-left: -3rem;
  margin-bottom: -5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 10rem;
}

.Explore .img--1 {
  width: 40rem !important;
  height: 40rem;
  outline: 2px #9a8275 solid;
  outline-offset: 1rem;
  -moz-outline-radius: 5px;
  -webkit-outline-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .Explore .img--1 {
    outline-offset: 0.5rem;
  }
}

.Explore .img--2 {
  width: 40rem !important;
  height: 40rem;
  outline: 2px #a34635 solid;
  outline-offset: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .Explore .img--2 {
    outline-offset: 0.5rem;
  }
}

.Explore .img--3 {
  width: 40rem !important;
  height: 40rem;
  outline: 2px #bf0d28 solid;
  outline-offset: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .Explore .img--3 {
    outline-offset: 0.5rem;
  }
}

.Explore__card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: relative;
}

.Explore__card-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: relative;
}

.Explore__card-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  position: relative;
}

.Explore__img--caption-1-span {
  width: 20rem;
  color: #9a8275;
  font-size: 3rem;
  position: absolute;
  top: 29rem;
  left: 24%;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
  text-align: center;
}

.Explore__img--caption-2-span {
  width: 20rem;
  color: #a34635;
  font-size: 3rem;
  position: absolute;
  top: 29rem;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
  text-align: center;
}

.Explore__img--caption-3-span {
  width: 20rem;
  color: #bf0d28;
  font-size: 3rem;
  position: absolute;
  top: 29rem;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
  text-align: center;
}

.handicrafts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: #f1f1f1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.handicrafts__heading-1 {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-top: 2rem;
  text-align: center;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.handicrafts__heading-2 {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-top: 2rem;
}

.handicrafts__heading-3 {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-top: 2rem;
}

.handicrafts .handicrafts__img--1 {
  width: 20rem;
}

.handicrafts__img-1 {
  -ms-grid-row: 6 !important;
  -ms-grid-row-span: 1 !important;
  grid-row: 6/7 !important;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding-left: 5rem;
}

.handicrafts__img--2 {
  height: 50rem;
  width: 80rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding-left: 5rem;
}

.handicrafts__img-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.handicrafts__img--3 {
  height: 13.2rem;
  width: 20rem;
}

@media only screen and (width: 64em) {
  .handicrafts__img--3 {
    height: 10rem;
  }
}

.handicrafts__img-3 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.handicrafts__img--4 {
  width: 20rem;
  height: 13rem;
}

.handicrafts__img-4 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding-left: 2.5rem;
}

.handicrafts__para {
  font-size: 2.2rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  letter-spacing: .2rem;
}

.handicrafts__button {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  color: #b9b9b9;
  margin-top: 3rem;
  padding: 2rem 5rem;
  border-color: #292929;
  font-weight: 200;
}

.handicrafts__line--bottom-1 {
  margin-top: 1rem;
  margin-left: 5rem;
  width: 4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.handicrafts__line--bottom-2 {
  margin-top: 1rem;
  margin-left: 4rem;
  width: 4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.handicrafts__line--bottom-3 {
  margin-top: 1rem;
  margin-left: .5rem;
  width: 4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.text-underline {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 1rem;
}

.text-underline:hover ~ .handicrafts__line--bottom-1 {
  margin-left: 2rem;
  width: 10rem;
}

.text-underline-2 {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 1rem;
  margin-left: 3rem;
}

.text-underline-2:hover ~ .handicrafts__line--bottom-2 {
  margin-left: 2rem;
  width: 21rem;
}

.text-underline-3 {
  width: 5rem;
  height: 10rem;
  position: absolute;
  top: 1rem;
  margin-left: 3rem;
  grid: inherit;
}

.text-underline-3:hover ~ .handicrafts__line--bottom-3 {
  width: 7rem;
}
/*# sourceMappingURL=main.css.map */