.Explore {
  margin-left: 10rem;
  margin-top: -20rem;
  
  &__heading {
    background-image: linear-gradient(
      to right bottom,
      rgb(82, 204, 0),
      rgb(0, 132, 255)
    );
    -webkit-background-clip: text;
    color: transparent;
    grid-column: 2/4;
    margin-left: -3rem;
    margin-bottom: -5rem;
    height: min-content;
    margin-top: 10rem;
  }
  .img--1 {
    width: 40rem !important;
    height: 40rem;
    outline: 2px #9a8275 solid;
    outline-offset: 1rem;
    -moz-outline-radius: 5px;
    -webkit-outline-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    @media only screen and (max-width: 64em) {
      outline-offset: 0.5rem;
    }
  }
  .img--2 {
    width: 40rem !important;
    height: 40rem;
    outline: 2px #a34635 solid;
    outline-offset: 1rem;
    border-radius: 5px;
    overflow: hidden;
    @media only screen and (max-width: 64em) {
      outline-offset: 0.5rem;
    }
  }
  .img--3 {
    width: 40rem !important;
    height: 40rem;
    outline: 2px #bf0d28 solid;
    outline-offset: 1rem;
    border-radius: 5px;
    overflow: hidden;
    @media only screen and (max-width: 64em) {
      outline-offset: 0.5rem;
    }
  }
  &__card-1 {
    grid-column: 1/2;
    grid-row: 2/4;
    position: relative;
  }
  &__card-2 {
    grid-column: 2/3;
    grid-row: 2/4;
    position: relative;
  }
  &__card-3 {
    grid-column: 3/4;
    grid-row: 2/4;
    position: relative;
  }
  &__img--caption {
    &-1-span {
      width: 20rem;
      color: #9a8275;
      font-size: 3rem;
      position: absolute;
      top: 29rem;
      left: 24%;
      background-color: rgba(0, 0, 0, 0.6);
      font-weight: 200;
      text-align: center;
    }
    &-2-span {
      width: 20rem;
      color: #a34635;
      font-size: 3rem;
      position: absolute;
      top: 29rem;
      left: 25%;
      background-color: rgba(0, 0, 0, 0.6);
      font-weight: 200;
      text-align: center;
    }
    &-3-span {
      width: 20rem;
      color: #bf0d28;
      font-size: 3rem;
      position: absolute;
      top: 29rem;
      left: 25%;
      background-color: rgba(0, 0, 0, 0.6);
      font-weight: 200;
      text-align: center;
    }
  }
}
