.footer{
    height: max-content;
    grid-row: 7/8;
    
    &__about{
        font-size: 1.5rem;
        grid-row: 1 /span 3;
        &-1{
            padding-bottom: 3rem;
        }
        padding-top: 3rem;
        padding-left: 3rem;
    }
    &__info{
        font-size: 1.5rem;
        grid-row: 1 /span 3;
        &-1{
            padding-bottom: 3rem;
        }
        padding-top: 3rem;
        padding-left: 3rem;
    }
    &__resource{
        font-size: 1.5rem;
        grid-row: 1 /span 3;
        &-1{
            padding-bottom: 3rem;
        }
        padding-top: 3rem;
        padding-left: 3rem;
    }
    &__links{
        font-size: 1.5rem;
        grid-row: 1 /span 3;
        &-1{
            padding-bottom: 3rem;
        }
        padding-top: 3rem;
        padding-left: 3rem;
    }
    &__logos{
        grid-row: 5/6;
        grid-column:2/4 ;
        &-twitter{
            width: 5rem;
            height: 5rem;
            margin-left: 8rem;
            fill: rgb(146, 146, 146);
        }
        &-facebook{
            margin-left: 8rem;
            width: 5rem;
            height: 5rem;
            fill: rgb(146, 146, 146);
        }
        &-youtube{
            margin-left: 8rem;
            width: 5rem;
            height: 5rem;
            fill: rgb(146, 146, 146);
        }
        &-instagram{
            margin-left: 8rem;
            width: 5rem;
            height: 5rem;
            fill: rgb(146, 146, 146);
        }
    }
    &__copy-right{
        margin-top: 3rem;
        grid-row: 6/7;
        grid-column:2/4 ;
        font-size: 2.5rem;
        letter-spacing: .2rem;
    }
}