
*,
*::after,
*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
html{
    font-size:62.5%;
}
@media only screen and (max-width: 64em) {

    html { 
    font-size: 50%;   }
}

.line__bottom--destinations {
    grid-row: 7 / 8;
    grid-column: 2/3;
    margin-top: 15rem;
}