
*,
*::after,
*::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
html{
    font-size:62.5%;
}
@media only screen and (max-width: 64em) {

    html { 
    font-size: 50%;   }
}
body{
    width: 87.5em;
    @media only screen and (max-width:75em ) {

        width: 75em;
    }
    @media only screen and (max-width: 80vw) {

        width: 80vw;
    }
    @media only screen and (max-width: 70vw) {

        width: 70vw;
    }
    @media only screen and (max-width: 60vw) {

        width: 60vw;
    }
    @media only screen and (max-width: 50vw) {

        width: 50vw;
    }
    @media only screen and (max-width: 40vw) {

        width: 40vw;
    }

}
.line__bottom--destinations {
    grid-row: 7 / 8;
    grid-column: 2/3;
    margin-top: 15rem;
}