body { //applied on all
  font-family: "Open Sans";
  font-size: 1rem;
}
.heading-1 { //reusable 
  font-family: "WindSong", cursive;
  color: #ffffff;
  font-weight: 300;
  font-size: 7rem;
}
.heading-2 { //reusable 
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 3rem;
}
.heading-3{
  font-size: 3rem;
  font-weight: 200;
}
.handicrafts__para--span{
  &-1{
  width: max-content;
  text-transform: uppercase;
  font-size: 2.5rem;
  display: block;
  letter-spacing: .3rem;
  padding-bottom: 3rem;
  font-weight: lighter;}
  &-2{
    display: block;
    padding-top: 2.6rem;
  }
}